{{#each this}}
<li class="product-card">
    <a href="">
    {{#if this.isTopSeller}}
    <p class="product-label">Best Seller</p>
    {{/if}}
    <img class="product-image" alt="{{this.nameES}}" src="{{this.imageUrl}}">
    <h4 class="product-title">{{this.nameES}}</h4>
    <p class="product-description">{{this.descriptionES}}</p>
    <p class="product-weight">{{this.weight}}</p>
    <div class="price-wrapper">
        <p class="product-price">{{this.price}}</p>
        <p class="primary-button">Order</p>
    </div>
    </a>
</li>
{{/each}}